.logo {
  color: white;
  text-align: center;
  margin: auto;
  width: 70%;
}
.btn {
  position: relative;
  margin-bottom: -20rem;
  text-align: center;
  border: none;
  box-shadow: none;
  width: 230px;
  height: 90px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  background-color: transparent;
}
.btn span {
  /* background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  ); */
  background: #2980B9;
  /* background: linear-gradient(
    0deg,
    #E0EAFC 0%,
    #CFDEF3 100%
  ); */
  background: linear-gradient(
    0deg,
    #005AA7 0%,
    #FFFDE4 100%
  );
  font-size: 2rem;
  line-height: 80px;
  text-align: center;
  padding: auto;
  color: black;
  display: block;
  position: absolute;
  width: 230px;
  height: 80px;
  box-shadow: .2px .2px .4px 0 black, -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -.4px -.4px .6px 0 black, inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  border-radius: 35px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:focus,
.btn:visited,
.btn:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px black,
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  font-size: 2rem;
  line-height: 60px;
  transform: rotateX(0deg);
}
.btn:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px black,
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
