.developers {
    font: bold 200% Consolas, Monaco, monospace;
    border-right: 0.1em solid;
    width: 13ch;
    margin: 1em auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    animation: typing 3s steps(13, end), cursor-blink 0.3s step-end infinite alternate;
}

.about {
    font: bold 200% Consolas, Monaco, monospace;
    border-right: 0.1em solid;
    width: 18ch;
    margin: 1em auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    animation: typing 3s steps(18, end), cursor-blink 0.3s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}

.item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(160, 32, 240, 0.5);
}

.item:hover .hidden-content {
    visibility: inherit;
    transform: translateX(-100px);
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    text-align: center;
    top: 0;
    z-index: 2;
    border-radius: 15px;
    padding: 3px;
    animation-name: bounce-up;
    animation-iteration-count: 1;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-timing-function: ease;
}

@keyframes bounce-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(0);
    }
}

.showed-content:hover {
    cursor: pointer;
    bottom: 0;
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-duration: 2s;
    transform-origin: bottom;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

.hidden-content {
    visibility: hidden;
    color: white;
}

.showed-content {
    text-align: center;
    padding-bottom: 10px;
}

.icon {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.fab {
    color: #A865C9;
    font-size: 20px;
}

.fab:hover {
    color: black;
    transform: scale(1.2);
}

.box1,
.box2,
.box3 {
    padding: 20px;
}